extends ../layout

block content
    div.container
    h1= title
        
        input(type="hidden" id="topic" value="#{topic}")
        div(id="blogs-list")

    script(src="/javascripts/blog_topics.js")
