extends ../layout

block content
    div.container
        h1= title
        
        div(id="alert_messages")
        include edit_blog_form.jade
        
        div(class="modal fade new-topic" id="topic_parent_select" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
            div(class="modal-dialog" role="document")
                div(class="modal-content")
                    div(class="modal-header")
                        h4(class="modal-title" id="myModalLabel") Select Parent Topic
                        
                    div.modal-body
                        p Select a parent for the topic : 
                        p(id="selected_topic")
                        select( id="populate_topics_modal" class="form-control")
                    div.modal-footer
                        button(type="button" class="btn btn-default" data-dismiss="modal") Close
                        button(type="button" class="btn btn-primary" id="submit_topic") Save
        
        script(src="/javascripts/wysihtml/wysihtml-toolbar.min.js")
        script(src="/javascripts/wysihtml/parser_rules/advanced_and_extended.js")
        script(src="/javascripts/edit_blog_page.js")
        
