extends ../layout

block content
    div.container
        div.col-md-6
            if user
                input(type="hidden" id="user-name" value="#{user.account.name}")
                input(type="hidden" id="user-id" value="#{user.account.id}")
                
            input(type="hidden" id="blog-id" value="#{id}")
        div(id="alerts")
        div(id="blog_data")
            h1(id="title" class="title") Loading blog data ..
            h5(id="author" class="author") Please wait ..
            h5(id="topic" class="topic")
            h5(id="date" class="date")
            em
                h5(id="tags" class="tags")
            div(id="pages" class="pages")
        
        hr
        em
            p(class="fbcomment") comments
        div(class="" id="comments-comment" )                
        div(class="" id="comments")                

    script(src="/javascripts/show_blog.js")
