extends layout

block content
    div.container
        div(class="unauthorized text-center")
            h1
                span(class="fa fa-lock") 
                 Node Authentication

            p Enter with:

            a(href="/login" class="btn ")
                span(class="fa fa-user") 
                 Local Login

            a(href="/signup" class="btn")
                span(class="fa fa-user") 
                 Local Signup
            
            a(href="/auth/facebook" class="btn")
                span(class="fa fa-facebook")
                n  Facebook
