extends layout

block content
    div.container
        div(class="col-sm-6 col-sm-offset-3")
            
            h1
                span(class="fa fa-sign-in")  
                b  Login

            if message.length > 0
                div(class="alert alert-danger") #{message}

            form(action="/login" method="post")
                
                div.form-group
                    label Email
                    input(type="email" class="form-control" name="email")

                div.form-group
                    label Password
                    input(type="password" class="form-control" name="password")

                button(type="submit" class="btn btn-warning btn-lg") Login
            hr
            p Need an account? 
                a(href="/signup") 
                    span(class="fa fa-user") 
                    Signup
            p Or go
                a(href="/") 
                    span(class="fa fa-home") 
                    Home
