extends layout

block content
    div.container
        div(class="signup col-sm-6 col-sm-offset-3")
            
            h1 sign up  

            if message.length > 0
                div(class="alert alert-danger") #{message}

            form(action="/signup" method="post") 
                
                
                div.form-group
                    label Name
                    input(type="text" class="form-control" name="name")
                
                div.form-group
                    label Email
                    input(type="email" class="form-control" name="email")

                div.form-group
                    label Password
                    input(type="password" class="form-control" name="password")

                button(type="submit" class="btn btn-warning btn-lg") Sign up 
                
                
            //Bottom of form
            hr
            i(class="fa fa-caret-right")  
                a(href="/login") Already have account? 
                    Login
            br
            i(class="fa fa-caret-right")  
                a(href="/") Go Home  
                    span(class="fa fa-home") 
                    Home
