
body {
    font-family: 'Raleway';
    background-color: #0a0a0a;
    color: #fff;
    letter-spacing: 1px;
}

.navbar ul li a,
a{
    color: #4f4f4f;
    transition: color .3s ease;
}

.navbar ul li a:hover,
.btn:hover,
a:hover{
    color: lightgray;
}
.btn{
    border-radius: 0;
    border: none;
}
.container h1{
    margin-bottom: 10px;
}
/*
    Signup
-------------*/
.login h1,
.signup h1{
    font-weight: lighter;
}
.btn-warning{
    background-image: none;
    background-color: #eb9316;
}
.btn-warning:hover{
    background-color: #eb5e16;
}
/*
    Logged out
-------------*/
.unauthorized h1 node,
.navbar-brand{
    font-family: 'Dosis';
    text-transform: uppercase;
    letter-spacing: 5px;
}
.unauthorized h1{
    margin: 100px 0;
}
.logout .btn-default:active{
    background-color: transparent;
    color: white;
    font-weight: bold;
}
/*
    NAVBAR
---------------*/
nav{
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px;
    text-shadow: transparent;
}
.navbar-rethemed a{
    color:#fff;
}
.navbar-rethemed .navbar-nav li a:hover{
    background-color: none;
}
.navbar ul li a{
    font-weight: lighter;
}
.navbar ul li a:hover{
    background: transparent;
}
.signin-as{
    letter-spacing: 0;
    text-transform: lowercase;
}
.user{
    color:cadetblue;
}
.blogmenu{
    border-bottom: 1px solid;
}
.createblog{
    border-bottom-color: cadetblue;
}
.editblog{
    border-bottom-color: white;
}
/*
    Btn
-------------*/
.btn-default,
.btn-default:hover{
    text-shadow: none;
    border-radius: 0;
}
.btn-default{
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background: transparent;
    border: 1px solid transparent;
    transition: border-bottom .5s ease;
}
.btn-default:hover,
.post .label-primary:hover{
    background: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #fff;
}
/*
    Blog Post
-----------*/
.blog-post{
    cursor: pointer;
}
.post{
    margin-bottom: 5px;
    border-left: 10px solid gray;
    padding: 10px;
    transition: background-color .6s ease;
}
.post:hover{
    background-color: dimgray;
}
.post h3{
    margin-top: 10px;   
}
ul#page-content-nav li a[data-toggle]{
    background-color: #202020;
}
ul#page-content-nav li:active a[data-toggle]{
    background-color: gray;
}
/*
    Profile Details
---------------------*/
.profile-details .well{
    background: transparent;
}

/*
    Editor Toolbar
-------------------*/
textarea{
    resize: both;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
}
.toolbar{
    padding: 15px;
}
.toolbar .btn-default{
    padding: 4px;
}
.toolbar .btn-default:hover{
    color: white;
    background-color: gray;
}
.toolbar .btn-primary {
    background: transparent;
}
/*
    Btn Border Radius
----------------------*/
.toolbar,
.toolbar .btn-default{
    border-radius: 3px;
}
/*
    Input Forms
-----------*/
.bodytext,
.form-group input,
select{
    background-color: transparent !important;
    border-radius: 5px;
    padding:3px;
    color: #fff;
}
#add_page{
    background: transparent;
    background-color: cadetblue;
    padding-left: 17px;
    padding-top: 12px;
    margin-bottom: 10px;
}
#add_page:hover{
    background-color: cadetblue;
}
a#add_page .btn-primary,
a#add_page:hover{
    background-image: none;
}

/*
    Topics
-----------*/
.post .label-primary:hover,
.post .label-primary{
    background: transparent;
}
.post .label-primary{
    border: 1px solid transparent;
}
.post .label{
    border-radius: 0;
}

/*
    Popup New Topic
-------------------*/
.new-topic h4,
.new-topic p{
    color: #0a0a0a;
}

/*Read Blog
-----------*/
#blog_data .author:before{
    content: "written by "
}
#blog_data .tags{
    text-align: right;
}
#blog_data .topic:before{
    content: "Topic:    "
}
#blog_data .title{
    font-family: 'Dosis';
}
#blog_data p {
    
}
/*
    Direct Changes
------*/
.well{
    background: transparent;
    border: none;
}
#blog-submit{
    background: transparent;
    background-color: seagreen;
}
.container{
    margin-bottom: 20px;
}

#comments-comment .panel.panel-primary.form-group{
    background: transparent;
}
#comments-comment .panel.panel-primary.form-group textarea{
    resize: both;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 70%;
}
#comments-comment .panel.panel-primary.form-group img{
    margin-right: 10px;
}